<!DOCTYPE html>
<html>
{% include head-presentation.html %}
<body>
<script type="text/javascript">
	var remote_url = 'https://jeremypry.com/wp-json/wp/v2/presentations/{{ page.remote_id }}';
	$.ajaxSetup({
		async: false
	});
</script>
<script type="text/javascript">
	var slideshow = null;
	var slides = '# Failed to get slides!';
	var normalize_ending = function( elem ) {
		return elem.replace( /\r?\n/g, "\n" );
	};
	$(document).ready(function () {
		$.getJSON(remote_url, function (data) {
			console.log(data);
			slides = normalize_ending(data.slides);
		}).done(function() {
			console.log('Creating slideshow...');
			slideshow = remark.create({
				ratio                 : '16:9',
				countIncrementalSlides: false,
				navigation            : {
					scroll: false,
					click : false
				},
				source: slides
			});
		});
	});
</script>
</body>
</html>
